/apps/*/node_modules
/apps/*/dist
/packages/*/node_modules
/packages/*/dist
.DS_Store
.turbo
*.tsbuildinfo
.jest-cache
.swc
/.vscode
/.idea
/.pnpm-*.log

pnpm-lock.yaml
node_modules/
/apps/**/miniprogram_npm/
